@charset "UTF-8";

body 
{
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("../imgs/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map{
    margin-right: 4%;
    width: 90%;
    height: 800px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td, th 
{
    text-align: center; 
    vertical-align: middle;
}

.banner
{
	position: relative;
	background: url(bild.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 250px 0 200px;
}

.card-header .fa 
{
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa 
{
    transform: rotate(90deg);
}

.card 
{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}