<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TankApp BIS2211 - Team B</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
</head>
<body>
    <!-- JS -->
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/sorttable.js}"></script>
    <script type="text/javascript" th:src="@{/js/map.js}"></script>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!--  Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--  Cookies -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- LEAFLET -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
        var rad = /*[[${rad}]]*/ '';
        /*]]>*/
        var list = /*[[${jsList}]]*/ [];

        /*<![CDATA[*/
        var key_opencage = /*[[${key_opencage}]]*/ '';
        /*]]>*/

        /*<![CDATA[*/
        var key_leaflet = /*[[${key_leaflet}]]*/ '';
        /*]]>*/
    </script>

    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <a href="main" class= "navbar-brand">Tankstelle finden<span class="material-icons">
                local_gas_station</span>
            </a> 
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ">
                    <li class= "nav-item"><a href="leaderboard" class="nav-link">Leaderboard</a></li>
                    <li class= "nav-item"><a href="userData" class="nav-link">Meine Daten</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <p th:text="'Henlo, ' + ${name} + '.'">

    <div style="width: 96%"class="card text-white bg-dark border-primary text-center mb-3">
        <div class="container">
            <h5 class="card-header">
                <a data-toggle="collapse" href="#searchDialog" aria-expanded="true" aria-controls="searchDialog" class="d-block">
                    Meine Position:
                    <i class="material-icons align-middle fa"> arrow_drop_down </i>
                </a>
            </h5>
            <div id="searchDialog" class="collapse show" aria-labelledby="heading-example">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Ort" id="cityField">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="Straße" id="streetField">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Nummer" id="houseNrField">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" onclick="geocodeWithBrowserLocation()"><i data-placement="right" title="Meine Position bestimmen" class="material-icons align-middle"> near_me </i></button>
                    </div>
                </div>
                <br>
                <form class="form-horizontal" id="searchForm" th:action="@{/main}">
                    <div class="row justify-content-center">
                        <div class="col-md-auto">
                            <h4> Treibstoffart: </h4>
                        </div>
                        <div class="col-md-auto">
                            <select class="form-control" th:name="fuelType" id="fuelSelect">
                                <option value="diesel"> Diesel </option>
                                <option value="e5"> E5 </option>
                                <option value="e10"> E10 </option>
                                <option value="all"> Alle </option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <h4> Im Umkreis von: </h4>
                        </div>
                        <div class="col-md-auto">
                            <select class="form-control" th:name="rad" id="radSelect">
                                <option value="5"> 5km </option>
                                <option value="10"> 10km </option>
                                <option value="15"> 15km </option>
                                <option value="20"> 20km </option>
                                <option value="25"> 25km </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-primary" onclick="search()"> Suchen </button>
                        </div>
                        <br>
                    </div>
                    <input hidden class="col-sm-2" id="latField" type="text" th:name="lat" placeholder="Längengrad" >
                    <input hidden class="col-sm-2" id="lonField" type="text" th:name="lon" placeholder="Breitengrad">
                    <input hidden class="btn btn-primary" type="submit" value="Bestätigen"></input> 
                </form>
                <br>
            </div>
        </div>
    </div>

    <div style="width: 96%" class="card text-white bg-dark border-primary text-center mb-3" th:unless="${gsList.isEmpty()}">
        <h5 class="card-header">
            <a data-toggle="collapse" href="#cardCollapse" aria-expanded="true" aria-controls="cardCollapse" id="cardHeading" class="d-block">
                Karte:
                <i class="material-icons align-middle fa"> arrow_drop_down </i>
            </a>
        </h5>
        <div id="cardCollapse" class="collapse show overflow-auto" aria-labelledby="heading-example">
            <div class="container-responsive">
                <div class="row">
                    <div  class="col col-lg">
                        <div id="mapid" ></div>
                        <script>initMap(rad, list);</script>
                    </div>    
                </div>
            </div>
        </div>
    </div>

    <div style="width: 96%" class="card text-white bg-dark border-primary text-center mb-3" th:unless="${favList.isEmpty()}">
        <h5 class="card-header">
            <a data-toggle="collapse" href="#favListCollapse" aria-expanded="true" aria-controls="favListCollapse" id="favListHeading" class="d-block">
                Favoriten:
                <i class="material-icons align-middle fa"> arrow_drop_down </i>
            </a>
        </h5>
        <div id="favListCollapse" class="collapse show overflow-auto" aria-labelledby="heading-example">
            <table class="card-body card-table table table-dark table-hover sortable unselectable" id="favTable">
                <thead>
                    <tr>
                        <th class="align-middle sorttable_nosort"> Name </th>
                        <th th:if="${fuelType} == 'diesel' or ${fuelType} == 'all'" class="align-middle"> Diesel </th>
                        <th th:if="${fuelType} == 'e5' or ${fuelType} == 'all'" class="align-middle"> E5 </th>
                        <th th:if="${fuelType} == '10' or ${fuelType} == 'all'" class="align-middle"> E10 </th>
                        <th class="align-middle sorttable_nosort"> Adresse </th>
                        <th class="align-middle"> Geöffnet </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${favList.empty}">
                        <td colspan="2"> Keine Favourtien vorhanden. </td>
                    </tr>
                    <tr th:each="gs : ${favList}">
                        <td class="align-middle"><span th:text="${gs.getName()}"> Name </span></td>
                        <td th:if="${fuelType} == 'diesel' or ${fuelType} == 'all'" class="align-middle">
                            <button th:if="${gs.getCurrentPrediction('diesel')} == 0" th:id="'showGraph' + ${gs.getId()}" class="btn btn-danger" onclick="getDataArray(this.id, 'diesel')">
                                <span th:text="${gs.getDieselPrice()}"> Diesel Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('diesel')} == 1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-success" onclick="getDataArray(this.id, 'diesel')">
                                <span th:text="${gs.getDieselPrice()}"> Diesel Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('diesel')} == 2" th:id="'showGraph' + ${gs.getId()}" class="btn btn-warning" onclick="getDataArray(this.id, 'diesel')">
                                <span th:text="${gs.getDieselPrice()}"> Diesel Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('diesel')} == -1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-secondary">
                                <span th:text="${gs.getDieselPrice()}"> Diesel Preis </span>
                            </button>
                        </td>
                        <td th:if="${fuelType} == 'e5' or ${fuelType} == 'all'" class="align-middle">
                            <button th:if="${gs.getCurrentPrediction('e5')} == 0" th:id="'showGraph' + ${gs.getId()}" class="btn btn-danger" onclick="getDataArray(this.id, 'e5')">
                                <span th:text="${gs.getE5Price()}"> E5 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e5')} == 1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-success" onclick="getDataArray(this.id, 'e5')">
                                <span th:text="${gs.getE5Price()}"> E5 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e5')} == 2" th:id="'showGraph' + ${gs.getId()}" class="btn btn-warning" onclick="getDataArray(this.id, 'e5')">
                                <span th:text="${gs.getE5Price()}"> E5 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e5')} == -1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-secondary">
                                <span th:text="${gs.getE5Price()}"> E5 Preis </span>
                            </button>
                        </td>
                        <td th:if="${fuelType} == 'e10' or ${fuelType} == 'all'" class="align-middle">
                            <button th:if="${gs.getCurrentPrediction('e10')} == 0" th:id="'showGraph' + ${gs.getId()}" class="btn btn-danger" onclick="getDataArray(this.id, 'e10')">
                                <span th:text="${gs.getE10Price()}"> E10 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e10')} == 1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-success" onclick="getDataArray(this.id, 'e10')">
                                <span th:text="${gs.getE10Price()}"> E10 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e10')} == 2" th:id="'showGraph' + ${gs.getId()}" class="btn btn-warning" onclick="getDataArray(this.id, 'e10')">
                                <span th:text="${gs.getE10Price()}"> E10 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e10')} == -1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-secondary">
                                <span th:text="${gs.getE10Price()}"> E10 Preis </span>
                            </button>
                        </td>
                        <td class="align-middle"><span th:utext="${gs.getAddress()}"> Adresse </span></td>
                        <td class="align-middle"><span th:text="${gs.getOpenStatus()}"> Geöffnet </span></td>
                        <td class="align-middle">
                            <button th:id="'favourite' + ${gs.getId()}" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Favorit hinzufügen/entfernen" onclick="toggleFav(this.id)">
                                <i data-placement="right" title="von Favoriten entfernen" class="material-icons align-middle"> clear </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="width: 96%" class="card text-white bg-dark border-primary text-center mb-3" th:unless="${gsList.isEmpty()}">
        <h5 class="card-header">           
            <a data-toggle="collapse" href="#gsListCollapse" aria-expanded="true" aria-controls="gsListCollapse" id="gsListHeading" class="d-block">
                Tankstellen:
                <i class="material-icons align-middle fa"> arrow_drop_down </i>
            </a>
        </h5>
        <div id="gsListCollapse" class="collapse show overflow-auto" aria-labelledby="heading-example">
            <table class="table table-dark table-hover sortable unselectable" id="gsTable">
                <thead>
                    <tr>
                        <th class="align-middle sorttable_nosort"> Name </th>
                        <th th:if="${fuelType} == 'diesel' or ${fuelType} == 'all'" class="align-middle"> Diesel </th>
                        <th th:if="${fuelType} == 'e5' or ${fuelType} == 'all'" class="align-middle"> E5 </th>
                        <th th:if="${fuelType} == 'e10' or ${fuelType} == 'all'" class="align-middle"> E10 </th>
                        <th class="align-middle sorttable_nosort"> Adresse </th>
                        <th class="align-middle"> Entfernung </th>
                        <th class="align-middle"> Geöffnet </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${gsList.empty}">
                        <td colspan="2"> Keine Tankstellen in der Nähe! </td>
                    </tr>
                    <tr th:each="gs : ${gsList}">
                        <td class="align-middle"><span th:text="${gs.getName()}"> Name </span></td>
                        <td th:if="${fuelType} == 'diesel' or ${fuelType} == 'all'" class="align-middle">
                            <button th:if="${gs.getCurrentPrediction('diesel')} == 0" th:id="'showGraph' + ${gs.getId()}" class="btn btn-danger" onclick="getDataArray(this.id, 'diesel')">
                                <span th:text="${gs.getDieselPrice()}"> Diesel Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('diesel')} == 1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-success" onclick="getDataArray(this.id, 'diesel')">
                                <span th:text="${gs.getDieselPrice()}"> Diesel Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('diesel')} == 2" th:id="'showGraph' + ${gs.getId()}" class="btn btn-warning" onclick="getDataArray(this.id, 'diesel')">
                                <span th:text="${gs.getDieselPrice()}"> Diesel Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('diesel')} == -1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-secondary">
                                <span th:text="${gs.getDieselPrice()}"> Diesel Preis </span>
                            </button>
                        </td>
                        <td th:if="${fuelType} == 'e5' or ${fuelType} == 'all'" class="align-middle">
                            <button th:if="${gs.getCurrentPrediction('e5')} == 0" th:id="'showGraph' + ${gs.getId()}" class="btn btn-danger" onclick="getDataArray(this.id, 'e5')">
                                <span th:text="${gs.getE5Price()}"> E5 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e5')} == 1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-success" onclick="getDataArray(this.id, 'e5')">
                                <span th:text="${gs.getE5Price()}"> E5 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e5')} == 2" th:id="'showGraph' + ${gs.getId()}" class="btn btn-warning" onclick="getDataArray(this.id, 'e5')">
                                <span th:text="${gs.getE5Price()}"> E5 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e5')} == -1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-secondary">
                                <span th:text="${gs.getE5Price()}"> E5 Preis </span>
                            </button>
                        </td>
                        <td th:if="${fuelType} == 'e10' or ${fuelType} == 'all'" class="align-middle">
                            <button th:if="${gs.getCurrentPrediction('e10')} == 0" th:id="'showGraph' + ${gs.getId()}" class="btn btn-danger" onclick="getDataArray(this.id, 'e10')">
                                <span th:text="${gs.getE10Price()}"> E10 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e10')} == 1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-success" onclick="getDataArray(this.id, 'e10')">
                                <span th:text="${gs.getE10Price()}"> E10 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e10')} == 2" th:id="'showGraph' + ${gs.getId()}" class="btn btn-warning" onclick="getDataArray(this.id, 'e10')">
                                <span th:text="${gs.getE10Price()}"> E10 Preis </span>
                            </button>
                            <button th:if="${gs.getCurrentPrediction('e10')} == -1" th:id="'showGraph' + ${gs.getId()}" class="btn btn-secondary">
                                <span th:text="${gs.getE10Price()}"> E10 Preis </span>
                            </button>
                        </td>
                        <td class="align-middle"><span th:utext="${gs.getAddress()}"> Adresse </span></td>
                        <td class="align-middle"><span th:text="${gs.getDistance()}"> Entfernung </span></td>
                        <td class="align-middle"><span th:text="${gs.getOpenStatus()}"> Geöffnet </span></td>
                        <td class="align-middle">
                            <button th:id="'favourite' + ${gs.getId()}" class="btn btn-primary" onclick="toggleFav(this.id)">
                                <i data-toggle="tooltip" data-placement="right" title="zu Favoriten hinzufügen" class="material-icons align-middle" th:unless="${favString.contains(gs.getId())}"> favorite </i>
                                <i data-toggle="tooltip" data-placement="right" title="von Favoriten entfernen" class="material-icons align-middle" th:if="${favString.contains(gs.getId())}"> clear </i>
                            </button>   
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">ByFabianandFabianalone</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="curve_chart" ></div> 
            </div>
            <div class="modal-footer">
              <button id="modalClose" type="button" class="btn btn-danger" data-dismiss="modal">Schließen</button>
            </div>
          </div>
        </div>
    </div>

    <script th:inline="javascript"> 

        var automaticFill = false; 

        function search()
        {
            if(automaticFill == true)
            {
                document.getElementById("searchForm").submit(); 
            }
            else
            {
                geocode(document.getElementById("cityField").value,document.getElementById("streetField").value,document.getElementById("houseNrField").value); 
            }
        }

        function geocode(city, street, houseNr)
        {
            if(city == "") 
            {
                alert("Bitte geben sie eine Stadt an.");
                return; 
            }
            if(street == "") var query = city; 
            else var query = city + " " + street + " " + houseNr; 
            $.ajax({
                url: 'https://api.opencagedata.com/geocode/v1/json',
                method: 'GET',
                data: {
                'key': key_opencage,
                'q': query,
                'no_annotations': 1
                },
                dataType: 'json',
                statusCode: {
                200: function(response){
                    if(street == "")
                    { 
                        response.results.forEach(element => {
                            if(element.components._type == "city" && element.components.country == "Deutschland")
                            {
                                setCoords(element.geometry); 
                                return; 
                            }
                        }); 
                    }
                    else
                     {
                        response.results.forEach(element => {
                            if(element.components.country == "Deutschland")
                            {
                                setCoords(element.geometry); 
                                return; 
                            }
                        });
                    } 
                },
                402: function(){
                    console.log('hit free-trial daily limit');
                    console.log('become a customer: https://opencagedata.com/pricing');
                }
                }
            });
        }

        function setCoords(coords)
        {
            document.getElementById("latField").value = coords.lat; 
            document.getElementById("lonField").value = coords.lng; 
            document.getElementById("searchForm").submit();
        }

        function geocodeWithBrowserLocation()
        {
            if(navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(getPosition, showError);
            } 
            else
            {
                alert("Sorry, your browser does not support HTML5 geolocation.");
            }
        }
            
        function getPosition(position)
        {
            console.log("Lat:" + position.coords.latitude);  
            console.log("Lon:" + position.coords.longitude);
            document.getElementById("latField").value = position.coords.latitude; 
            document.getElementById("lonField").value = position.coords.longitude; 
            setAdressfield(position.coords.latitude, position.coords.longitude); 
            automaticFill = true; 
            search(); 
        }
            
        function showError(error)
        {
            switch(error.code) 
            {
                case error.PERMISSION_DENIED:
                    alert("User denied request for geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location data not available.");
                    break;
                case error.TIMEOUT:
                    alert("Request for location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An error occured.");
                    break;
            }
        } 

        function setAdressfield(lat, lon)
        {
            var query = lat + "," + lon; 
            $.ajax({
                url: 'https://api.opencagedata.com/geocode/v1/json',
                method: 'GET',
                data: {
                'key': key_leaflet,
                'q': query,
                'no_annotations': 1
                },
                dataType: 'json',
                statusCode: {
                200: function(response){
                    console.log(response.results[0].formatted);
                    if(response.results[0].components.city != undefined) document.getElementById("cityField").value = response.results[0].components.city;
                    else if(response.results[0].components.village != undefined) document.getElementById("cityField").value = response.results[0].components.village;
                    if(response.results[0].components.road != undefined) document.getElementById("streetField").value = response.results[0].components.road;
                    if(response.results[0].components.house_number != undefined) document.getElementById("houseNrField").value = response.results[0].components.house_number;
                },
                402: function(){
                    console.log('hit free-trial daily limit');
                    console.log('become a customer: https://opencagedata.com/pricing');
                }
                }
            });
        }
        google.charts.load('current', {'packages':['corechart']});

        function showGraph(ar)
        {
            var data = google.visualization.arrayToDataTable(
                ar
            );

            var options = {
            title: 'Preisabweichung nach Stunden (Vortag)',
            curveType: 'function',
            legend: { position: 'bottom' },
            chartArea: {width:"100%", height:"70%"},
            pointSize: 3,
            dataOpacity: 0.8

        
            
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
            

            openModal();   
        }

        function openModal()
        {
            jQuery.noConflict();
            $("#myModal").modal("show")
        }

        function closeModal()
        {
            jQuery.noConflict();
            $("#myModal").modal("hide")
        }

        function getDataArray(id, fuelType)
        {
            var url = id.replace(/-/g,"/");
            url = url.replace("showGraph","");
            var settings = {
            "url": "https://www.volzinnovation.com/fuel_price_variations_germany/data/" + url + "/" + fuelType + ".json",
            "method": "GET",
            "timeout": 0
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                var graphArray = [];
                var header = ["Stunde", "Preisabweichung", {"type": "string","role": "style"}];
                graphArray.push(header);
                var d = new Date();
                var h = d.getHours();
                response.forEach(element => {
                    var chickenCamData = [element.hour,element.price,null];
                    if(h == element.hour)chickenCamData=[element.hour,element.price,"point{size:6; shape-type:circle;fill-color:#5e1224;}"]
                    graphArray.push(chickenCamData);
                });
               showGraph(graphArray);
            });
        }
    </script>
</body>
</html>