<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TankApp BIS2211 - Team B</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <a href="main" class= "navbar-brand">Tankstelle finden<span class="material-icons">
                local_gas_station</span>
            </a> 
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav ">
                    <li class= "nav-item"><a href="leaderboard" class="nav-link">Leaderboard</a></li>
                    <li class= "nav-item"><a href="userData" class="nav-link">Meine Daten</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <p th:text="'Henlo, ' + ${username} + '.'"></p>

    <div class="card text-white bg-dark border-primary text-center w-50" th:if="${username.equals('')}">
        <div class="card-body">
          <h5 class="card-title"> Benutzername: </h5>
            <div class="text-center p-5">
                <input type="text" id="usernameField" class="form-control mb-4" placeholder="Ihr Name">
                <button class="btn btn-primary" onclick="submitUsername(document.getElementById('usernameField').value)"> Bestätigen </button>
            </div>
        </div>
    </div>

    <div class="card text-white bg-dark border-primary text-center mb-3 w-75" th:unless="${username.equals('')}">
        <h5 class="card-header">
            <a data-toggle="collapse" href="#dataCard" aria-expanded="true" aria-controls="dataCard" class="d-block">
                Meine Tankbelege:
                <i class="material-icons align-middle fa"> arrow_drop_down </i>
            </a>
        </h5>
        <div id="dataCard" class="collapse show overflow-auto" aria-labelledby="heading-example">
            <table class="card-body card-table table table-dark table-hover sortable unselectable" id="favTable">
                <thead>
                    <tr>
                        <th class="align-middle"> Typ </th>
                        <th class="align-middle  sorttable_numeric"> Menge </th>
                        <th class="align-middle  sorttable_numeric"> Preis </th>
                        <th class="align-middle  sorttable_numeric"> Gespart </th>
                        <th class="align-middle"> Datum </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${lbData.empty}">
                        <td colspan="2"> Keine Daten vorhanden. </td>
                    </tr>
                    <tr th:each="ld : ${lbData}">
                        <td class="align-middle"><span th:text="${ld.getType()}"> Typ </span></td>
                        <td class="align-middle"><span th:text="${ld.getAmount()}"> Menge </span></td>
                        <td class="align-middle"><span th:text="${ld.getPricePayed()}"> Preis </span></td>
                        <td class="align-middle bg-danger" th:if="${ld.didSave()} == 0"><span th:text="${ld.getAmountSaved()}"> Gespart </span></td>
                        <td class="align-middle bg-success" th:if="${ld.didSave()} == 1"><span th:text="${ld.getAmountSaved()}"> Gespart </span></td>
                        <td class="align-middle bg-warning" th:if="${ld.didSave()} == 2"><span th:text="${ld.getAmountSaved()}"> Gespart </span></td>
                        <td class="align-middle"><span th:text="${ld.getFormattedTimestamp()}"> Datum </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card text-white bg-dark border-primary text-center mb-3 w-75" id="inputCard" th:unless="${username.equals('')}">
        <h5 class="card-header">
            <a data-toggle="collapse" href="#addDialog" aria-expanded="true" aria-controls="addDialog" class="d-block">
                Tankbeleg hinzufügen:
                <i class="material-icons align-middle fa"> arrow_drop_down </i>
            </a>
        </h5>
        <div id="addDialog" class="collapse show overflow-auto" aria-labelledby="heading-example">
            <div class="form-row row align-items-center">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Ort" id="cityField">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Straße" id="streetField">
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" placeholder="Nummer" id="houseNrField">
                </div>
                <div class="col-1">
                    <button class="btn btn-primary" onclick="geocodeWithBrowserLocation()"><i data-placement="right" title="In der Nähe" class="material-icons align-middle"> near_me </i></button>
                </div>
                <div class="col-2">
                    <button name="search" class="btn btn-primary" onclick="geocode(document.getElementById('cityField').value, document.getElementById('streetField').value, document.getElementById('houseNrField').value)">Suchen</button>
                </div>
            </div>
            <br>
            <div class="form-row row align-items-center">
                <div class="list-group col-8 offset-md-2" id="selectedGS">
                    <li class='list-group-item list-group-item-action'> Keine Tankstelle ausgewählt.</li>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col">
                    <select id="selectType" name="selectType" required="required" class="custom-select col">
                        <option id="dieselOption" value="Diesel">Diesel</option>
                        <option id="e5Option" value="E5">E5</option>
                        <option id="e10Option"value="E10">E10</option>
                    </select>
                </div>
                <div class="col">
                    <div class="input-group">
                        <input id="priceField" placeholder="---" type="text" class="form-control" readonly/> 
                        <div class="input-group-append">
                            <div class="input-group-text">€</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <input id="amountField" data-suffix="Liter" value="50" min="0" type="number" data-decimals="2" step="1"/>
                </div>
            </div> 
            <div class="form-group row justify-content-md-center">
                <div class="col-md-auto">
                    <label for="exampleFormControlFile1">Rechnung:</label>
                </div>
                <div class="col-md-auto">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <div class="col-md-auto">
                    <button name="add" type="submit" class="btn btn-primary" onclick="addLD(username, gsID, document.getElementById('amountField').value, document.getElementById('selectType').value, activePrice)">Hinzufügen</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Tankstelle auswählen:</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="list-group" id="gsList"></div>
            </div>
            <div class="modal-footer">
              <button id="modalClose" type="button" class="btn btn-danger" data-dismiss="modal">Schließen</button>
            </div>
          </div>
        </div>
    </div>

    <!-- JS -->
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/sorttable.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!--  Cookies -->
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script type="text/javascript" th:src="@{/js/bootstrap-input-spinner.js}"></script>
    <script>
        $("input[type='number']").inputSpinner()
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript"> 
    /*<![CDATA[*/
    var username = /*[[${username}]]*/ '';
    /*]]>*/

    /*<![CDATA[*/
    var key_opencage = /*[[${key_opencage}]]*/ '';
    /*]]>*/

    /*<![CDATA[*/
    var key_tankerkoenig = /*[[${key_tankerkoenig}]]*/ '';
    /*]]>*/

    var gsID = ""; 
    var dieselPrice = false; 
    var e5Price = false; 
    var e10Price = false; 

    var activePrice = false; 

    $( document ).ready(function() {
        $('select').on('change', function(e){
            setPrices(); 
        });
    });


    function geocode(city, street, houseNr)
    {
        if(city == "") alert("Bitte geben sie Suchkriterien ein.");
        else if(city != "" && street == "") searchGSDataByCity(city); 
        else
        {
            var query = city + " " + street + " " + houseNr; 
            $.ajax({
                url: 'https://api.opencagedata.com/geocode/v1/json',
                method: 'GET',
                data: {
                'key': key_opencage,
                'q': query,
                'no_annotations': 1
                },
                dataType: 'json',
                statusCode: {
                200: function(response){
                    var coordiantes = []; 
                    response.results.forEach(element => {
                        if(element.components._type == "road" || element.components._type == "building" || element.components._type == "fuel")
                        {
                            coordiantes.push({lat: element.geometry.lat, lng: element.geometry.lng}); 
                        }  
                    });
                    searchGSData(coordiantes); 
                },
                402: function(){
                    console.log('hit free-trial daily limit');
                    console.log('become a customer: https://opencagedata.com/pricing');
                }
                }
            });
        }
    }

    function geocodeWithBrowserLocation()
    {
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(getPosition, showError);
        } 
        else
        {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }
        
    function getPosition(position)
    {
        var coordiantes = []; 
        coordiantes.push({lat: position.coords.latitude, lng: position.coords.longitude});
        searchGSData(coordiantes); 
    }
        
    function showError(error)
    {
        switch(error.code) 
        {
            case error.PERMISSION_DENIED:
                alert("User denied request for geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                alert("Location data not available.");
                break;
            case error.TIMEOUT:
                alert("Request for location timed out.");
                break;
            case error.UNKNOWN_ERROR:
                alert("An error occured.");
                break;
        }
    }

    function searchGSData(coordinates)
    {
        var list = document.getElementById("gsList");
        while (list.hasChildNodes()) 
        {  
            list.removeChild(list.firstChild);
        }
        $.getJSON('https://www.volzinnovation.com/fuel_price_variations_germany/data/stations.json', function(data) {
        var jsonString = '{"gasStations":' + JSON.stringify(data) + "}"; 
        var jsonData = JSON.parse(jsonString); 
        for (var i = 0; i < jsonData.gasStations.length; i++) 
        {
            var gs = jsonData.gasStations[i];
            coordinates.forEach(coord => {
                if(coord.lat > gs.latitude -0.01 && coord.lat < gs.latitude +0.01 && coord.lng > gs.longitude -0.01 && coord.lng < gs.longitude +0.01) {
                    addGSToList(gs); 
                }
            });
        }
        if(!list.hasChildNodes())
        {
            $('#gsList').append("<li class='list-group-item list-group-item-action' onclick='closeModal()'>" + "Keine Tankstellen gefunden." + "<br>" + "Bitte Eingaben überprüfen." +"</li>"); 
        }
        openModal(); 
        });
    }

    function searchGSDataByCity(city)
    {
        var list = document.getElementById("gsList");
        while (list.hasChildNodes()) 
        {  
            list.removeChild(list.firstChild);
        }
        $.getJSON('https://www.volzinnovation.com/fuel_price_variations_germany/data/stations.json', function(data) {
        var jsonString = '{"gasStations":' + JSON.stringify(data) + "}"; 
        var jsonData = JSON.parse(jsonString); 
        for (var i = 0; i < jsonData.gasStations.length; i++) 
        {
            var gs = jsonData.gasStations[i];
            var gsCity = gs.city; 
            var upperGsCity = new String(gsCity).toUpperCase();
            var upperCity = new String(city).toUpperCase();
            var areEqual = upperCity === upperGsCity;
            if(areEqual) addGSToList(gs); 
        }
        if(!list.hasChildNodes())
        {
            $('#gsList').append("<li class='list-group-item list-group-item-action' onclick='closeModal()'>" + "Keine Tankstellen gefunden." + "<br>" + "Bitte Eingaben überprüfen." +"</li>");
        }
        openModal(); 
        });
    }

    function addGSToList(gasStation)
    {  
        var gsString = gasStation.name + "<br>" + gasStation.street + ", " + gasStation.post_code + " " + gasStation.city; 
        $('#gsList').append("<li class='list-group-item list-group-item-action' onclick='getLivePrices(\"" + gasStation.uuid + "\");selectGS(\"" + gsString + "\");'>" + gasStation.name + "<br>" + gasStation.street + ", " + gasStation.post_code + " " + gasStation.city +"</li>"); 
    }

    function selectGS(name)
    {  
        var list = document.getElementById("selectedGS");
        while (list.hasChildNodes()) 
        {  
            list.removeChild(list.firstChild);
        }
        $('#selectedGS').append("<li class='list-group-item list-group-item-action'>" + name + "</li>"); 
    }

    function getLivePrices(id)
    {
        gsID = id; 
        var station_ids_string = id; 
        $.ajax({
            url: "https://creativecommons.tankerkoenig.de/json/prices.php",
            data: {
                ids: station_ids_string,
                apikey: key_tankerkoenig
            },
            success: function( response ) {
                if (response.ok) {
                    getCurrentPrices(response.prices);
                    setPrices(); 
                } else {
                    alert("Fehler bei Preisabfrage. Bitte erneut versuchen."); 
                }
            },
            error: function(p){
                alert("Fehler bei Preisabfrage. Bitte erneut versuchen."); 
            }
        });
        closeModal(); 
    }

    function getCurrentPrices(prices)
    {
        if(prices[gsID].status == "open")
        {
            document.getElementById("e5Option").disabled = false; 
            document.getElementById("e10Option").disabled = false; 
            document.getElementById("dieselOption").disabled = false; 

            e5Price = prices[gsID].e5; 
            if(e5Price == false) document.getElementById("e5Option").disabled = true; 
            e10Price = prices[gsID].e10; 
            if(e10Price == false) document.getElementById("e10Option").disabled = true; 
            dieselPrice = prices[gsID].diesel; 
            if(dieselPrice == false) document.getElementById("dieselOption").disabled = true; 
        }
        else alert("Tankstelle hat geschlossen.")
    }

    function setPrices()
    {
        var type = document.getElementById("selectType").value; 
        if(type == "Diesel") 
        {
            if(dieselPrice != false) 
            {
                document.getElementById("priceField").value = dieselPrice; 
                activePrice = dieselPrice; 
            }
            else setInvalidPrice();
        }
        if(type == "E5") 
        {
            if(e5Price != false) 
            {
                document.getElementById("priceField").value = e5Price; 
                activePrice = e5Price; 
            }
            else setInvalidPrice();
        }
        if(type == "E10") 
        {
            if(e10Price != false) 
            {
                document.getElementById("priceField").value = e10Price; 
                activePrice = e10Price; 
            }
            else setInvalidPrice();
        }
    }

    function addLD(name, gsID, amount, type, price)
    {
        if(price == false) alert("Bitte eine gültige Treibstoffart auswählen!");
        else
        {
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({"user":name, "gsID": gsID, "amount":amount,"type":type,"pricePayed":price,"priceDeviation":-69,"timestamp":Date.now()});

            var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            fetch("http://localhost:8080/leaderboardData", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));	

            setTimeout(function(){
                location.reload();
            }, 500); 
        }
    }

    function setInvalidPrice()
    {
        document.getElementById("priceField").value = "---";
        activePrice = false; 
    }

    function openModal()
    {
        jQuery.noConflict();
        $("#myModal").modal("show")
    }

    function closeModal()
    {
        jQuery.noConflict();
        $("#myModal").modal("hide")
    }
    </script>
</body>
</html>