@charset "UTF-8";

.banner
{
	position: relative;
	background: url(bild.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 250px 0 200px;
}
	
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
	-webkit-appearance: none;
	margin: 0;
}
			
/* Firefox */
input[type=number] 
{
	-moz-appearance: textfield;
}

table 
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th 
{
  border: 1px solid rgb(128, 128, 64);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) 
{
  background-color: #dddddd;
}
